@model IEnumerable<PORTAL.DAL.EF.Models.Employee>

@{
    ViewData["Title"] = "Employee Zone";
    //Layout = "~/Views/Shared/_FormLayout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input type="text" id="Search" placeholder="Search Employee" class="form-control" />
            </div>
        </div>
    </div>
</div>
<div class="box box-widget">
    <div class="box-body">
        <table class="table">
            @foreach (var item in Model)
            {
                <tbody>

                    <tr class="Search" onclick="location.href = '@(Url.Action("Details", "EmployeeZone", new { empId = item.Emp_ID }))'">
                        <td>

                            @{ var src = item.Emp_ID.ToString() != null ? item.Emp_ID.ToString() + ".jpg" : "default.jpg";}
                            @{ var imagePath = "~/images/ez/" + item.Emp_ID.ToString() + ".jpg"; 
                                if (imagePath != null)
                                {
                                    imagePath = "~/images/ez/" + item.Emp_ID.ToString() + ".jpg";
                                }
                                else
                                {
                                    imagePath = "~/images/ez/default.jpg";

                                }
                            }
                            @*<script>document.getElementById('imageBox').src = "~/images/" + item.Emp_ID + ".jpg" </script>*@

                            <img class="center-block" src="~/images/ez/@src" style="max-height: 120px; max-width: 100%;" />
                        </td>
                        
                        <td>
                            <b>@Html.DisplayFor(modelItem => item.Employee_Name_English)</b><br />
                            @Html.DisplayFor(modelItem => item.Employee_Name_Arabic) <br />
                            @Html.DisplayFor(modelItem => item.Position) <br />
                            @Html.DisplayFor(modelItem => item.Department)
                        </td>

                    </tr>

                </tbody>
            }
        </table>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if(!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>